---
import Modal from './Modal.astro';
import Close from '@/icons/Close.astro'
import RulesBonus from "../icons/RulesBonus.astro";
---

<Modal id='dialog' open='RULES'>
  <main slot='main' class="scale-90">
    <RulesBonus/>
  </main>
  <button slot='close'><Close/></button>
</Modal>

